.hiddenRow {
  padding: 0 !important;
}

.vheight-100 {
  min-height: 100vh;
}

.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.below-nav {
  padding-top: 5rem;
}

.icon-size {
  font-size: 1.5rem;
}

body { 
  padding-top: 65px; 
}

.expanded {
  padding-top: 15px;
}

